SYSTEM_ENABLED=true
NODE_ENV=development
NEXT_PUBLIC_SITE_URL=http://127.0.0.1:3000
ENABLE_MAIL_SERVICE=true
ENABLE_CAPTCHA_SERVICE=true
RESEND_API_KEY=your_resend_api_key
CONTACT_EMAIL=hello@example.com
CONTACT_FROM_EMAIL=noreply@example.com
TURNSTILE_SECRET_KEY=your_turnstile_secret
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key
BASE_URL=http://127.0.0.1:3009
COMPONENT_CAPTURE_BASE_URL=http://127.0.0.1:3001/components
